In [10]:
import numpy as np
import pandas as pd
from pandas import Series
from pandas import DataFrame
import matplotlib.pyplot as plt


arr=np.array([1,2,3])

a=Series([1,2,3], index=['a','b','c'])

d=pd.DataFrame([[1,2,3],['a','b','c']],columns=['num','nam','what'])
d.set_index(num)

plt.plot(x,y,color,linestyle='-|--|.| ',marker='*|o|s|^|3', linewidth=10, title='Helloo')
plt.axis(1,10,2,40)
plt.show()
print(d)

scores=[1,2,3,4]
scores.to_frame()
data=pd.read_csv('data/wow.txt', delimiter=';', decimal=',')

#Extracting Column -> data['Trans_Fat']
#Extracting row
row0=data.iloc[0]
ndata=data.set_index('Column1Name')
row0=data.loc['NameofIndexofRow0'] or data.iloc[0]

#Row and a slice of its columns
menu_i.iloc[0, 0:2]
data.head(5)

menu.sort_values('Category', ascending=True)
data.columns || data.columns.tolist()
data[data['Trans Fat']>0]

data['Category'].value_counts() #Show count of each unique value
data['Category'].dtype
data['Number'].astype(int)

data['Category'].str.replace('A','B')
data.dropna(subset=['Price']) #Can also do dropna(axes=1)- to drop where any column is NA. dropna(how=all) - to drop any row where all columsn are NA
data.reset_index(drop=True, inplace=True) #Drop means drop the previous index instead of concatenating it as a column.

pd.cut(data['salary'],[0,100,1000,100000])
pd.get_dummies(pd.cut...).tail()
pd.concat([nfl, pd.get_dummies(pd.cut(...)], axis=1)
nfl['heights'].str.split('-', expand=True)
nfl.astype(int) #For converting all to int, for individual column -> nfl.astype({'heights':float})

df.set_index('race').stack() #Takes wide data and makes it tall

#Joining and Merging
df_n=df.set_index('name')
url_wrong_order_n= url_wrong_order.set_index('name')
df_n.join(url_wrong_order_n)

df.merge(url_wrong_order, on='name', how='left/right/inner/outer', indicator=True)

df.describe()


fav.pivot_table(index='Person', columns='Item Purchased' ,values='USD', aggfunc=sum)
df.groupby(['State', 'Fruit']).sum() # Or mean() max() apply()

df.idxmax() #Returns index of maximum along row/column. Default is along row -> returns maximum for each column by default
df.apply(np.sum, axis=0)

  num nam what
0   1   2    3
1   a   b    c